
.about {
  background-color: #090f14;
  //text-align: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  //text-align: left;
}

.about--img {
  //@include img-left-float('300px', '5em');
  margin: 25px 0px;
  width: 100%;
  align-self: baseline;

  //height: 350px;
  //max-width: 640px;
}

.about--right-block {
  display: flex;
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  //min-width: 350px;
  //max-width: 580px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.about--tab--title {
  text-align: left;
  display: inline-block;
  //width: 100px;
  padding-right: 10px;
  //width: 16%;
  //height: 50px;
  font-size: 10px;
  //margin-top: 30px;
  margin-bottom: 30px;
  //padding: 18px 5px;
  position: relative;
  z-index: 1000;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
}

.about--tab--title-text.active {
  padding-top: 20px;
  border-top: 0;
}

.about--tab--title-text.active {
  border-top: 1px solid $text_color1;
}

.about--tab--title.active {
  //background-color: $text_color1;
  color: $text_color1;
}

.about--outer-chart {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  //width: 60%;
  height: 20px;
  margin-top: 10px;
}

.about-biography-text, .about-history-text {
  color: $text_color2;
}

.about-biography {
  margin-right: 15%;
}

.about-history {
  //margin-right: 5%;
  text-align: left;
  //min-width: 445px;
}

.about-history-check-circle {
  //background-color: $text_color1;
  color: $text_color1;
  margin-right: 10px;
  font-size: 18px;
}

.about-history-point {
  margin: 5px;
  padding: 0;
  font-size: 11px;
  color: white;
}

.about-history-points-left {
  display: inline-block;
  width: 50%;
  text-align: left;
}

[class^="about--chart-value"] {
  color: white;
  font-size: 10px;
  padding: 3px 10px;
  margin: 0;
  height: inherit;
  text-transform: uppercase;
}

.chartTextSpan{
  width: 100px;
  position: absolute;
}

.about--chart-value-1 {
  background-color: #9c5da5;
  width: 72%;
  //overflow: hidden;
  //z-index: 1000;
  height: 19px;
}

.about--chart-value-2 {
  background-color: #11b0de;
  width: 84%;
  height: 19px;
}

.about--chart-value-3 {
  background-color: #d67f7f;
  width: 66%;
  height: 19px;
}

.about--chart-value-4 {
  background-color: #20bc9d;
  width: 90%;
  height: 19px;
}

.about--chart-value-5 {
  background-color: #bb8a36;
  width: 84%;
  height: 19px;
}

.about--charts {
  margin-top: 30px;
  width: 100%;
}

.transition-1-enter.transition-1-enter-active {
  transition: 3000ms;
  width: 72%;
  //overflow: hidden;
}

.transition-1-enter {
  width: 0;
  //overflow: hidden;
}

.transition-2-enter.transition-2-enter-active {
  transition: 3000ms;
  width: 84%;
}

.transition-2-enter {
  width: 0;
  //overflow: hidden;
}

.transition-3-enter.transition-3-enter-active {
  transition: 3000ms;
  width: 66%;
}

.transition-3-enter {
  width: 0;
  //overflow: hidden;
}

.transition-4-enter.transition-4-enter-active {
  transition: 3000ms;
  width: 90%;
}

.transition-4-enter {
  width: 0;
  //overflow: hidden;
}

.transition-5-enter.transition-5-enter-active {
  transition: 3000ms;
  width: 84%;
  //overflow: hidden;
}

.transition-5-enter {
  width: 0;
  //overflow: hidden;
}

///* =============== FOR TABLETS AND DESCTOP: ========================*/
///* =============== FOR TABLETS AND DESCTOP: ========================*/
@media only screen and (min-width: 768px) {

  .about-content {
    display: flex;
    flex-wrap: nowrap;
  }

  .about--img {
    //@include img-left-float('300px', '5em');
    margin: 00px 10px;
    width: 50%;
    align-self: flex-end;
    //height: 350px;
    //max-width: 640px;
  }
  .about--right-block {
    //display: flex;
    //width: 45%;

    text-align: left;
    padding-left: 20px;
    //padding-right: 0px;
    //margin-top: 30px;
  }

}
