.footer {
  height: 72px;
  background-color: #22353f;
  text-align: center;
}

.footer-text {
  display: inline-block;
  color: $text_color2;
  span {
    color: $text_color1;
  }
}

.footer-btnUp {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #1d8778;
  color: white;
  border: 0;
  margin-left: 10px;

}