//==================== HEADER ===================

.header__title {
  height: $header--menu--height;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 13000;
  //background-color: rgba(106, 97, 116, 1);
  background-color: $menu_bkg;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header__logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 60px;
  color: $text_color1;
  font-size: 20px;
  font-weight: 900;
  z-index: 130000;
  cursor: pointer;
  margin-left: 5%;
}

.header__menu {
  position: absolute;
  top: 0;
  right: -260px;

  @include transitionAll(0.6s);

  ul, .header__menuItem_wrapper {
    width: 290px;
    position: relative;
    top:0;
    left: 35px;
    background-color: $menu_bkg;
    padding-top: 59px;
    border: 1px solid black;
    border-radius: 5px;


    li, .header__menuItem{
      padding: 10px;
      cursor: pointer;
      list-style-type: none;
      text-align: center;
      border-top: 1px solid black;
      font-size: 16px;
    }

    li, .header__menuItem:hover{
      //opacity: 0.6;
      color: $text_color1;
      //background-color:rgba(106, 97, 116, 0.2);
    }

  }
}

#header__menu--icon:focus {
  outline:none;
}

#header__menu--icon {
  position: absolute;
  top:10px;
  left: 0;
  color: $text_color1;
  background: transparent;
  //padding: 10px;
  font-size: 26px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  border: none;
}



//#header__menu--icon:hover {
//  color: $text-color1;
//}

hr {
  display: none;
}

.header__menu {
  //height: $header__menu--height;
}

.header__menu.responsive {
  right: 0;
}


// ================== landing-bkg =====================
.landing {
  padding-top: 0;
}

.landing-bkg {
  @include bcg_img_properties();
  @include transitionAll(0.7s);
  background-color: #3c3c3c;
  width: 100%;
  position: relative;
  z-index: 12500;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  top: 60px;
  height: 100vh;

}

.landing-bkg--text {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $max--std--blocks--width;
}

.landing-bkg--text-h1 {
  margin: 20px 0;
}

.landing-bkg-left {
  display: none;
  //justify-content: flex-end;
}

.landing-bkg-right {
  display: none;
}

.landing-bkg-buttons {
  //width: 50%;
  //position: relative;
  margin-top: 70px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;

}

.landing-bkg-arrow-btn {
  //display: inline-block;
  //position: relative;
  //top: $header--bkg-img--height/12;
  padding: 5px;
  color: white;
  background-color: #3c4140;
  font-size: 14px;
  border: 0;
  width: 30px;
  height: 30px;
}

.landing-bkg-arrow-btn.activeSide {
  background-color: $text_color1;
}

.landing-features {
  width: 100%;
  text-align: left;
  position: relative;
  //top: 60px;
  z-index: 13500;
}

.landing-features-img {
  @include bcg_img_properties();
  display: inline-block;
  border: 0;
  width: 50%;
}

///* =============== FOR TABLETS AND DESCTOP: ========================*/
///* =============== FOR TABLETS AND DESCTOP: ========================*/
///* =============== FOR TABLETS AND DESCTOP: ========================*/
@media only screen and (min-width: 768px) {


  //=============== HEADER =====================
  #header__menu--icon {
    display: none;
  }

  .header__title {
    //height: $header__menu--height+ 21;
  }

  //.header__logo {
  //  top: 0;
  //  left: 15%;
  //  width: 90px;
  //  height: $header--menu--height;
  //}

  .header__menu {
    //position: absolute;
    //top: 10px;
    //margin-left: 30%;
    margin-right: 5%;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    height: 100%;
    right: 0;

    ul, .header__menuItem_wrapper {
      position: relative;
      left: 0;
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
      width: 100%;
      border: 0px solid black;
      border-radius: 0;

      li, .header__menuItem {
        //font-size: 12px;
        //list-style-type: none;
        margin-left: 15px;
        padding: 0;
        border-top: 0px solid black;
      }

      li, .header__menuItem:hover{
        opacity: 1;
      }

    }


    a {
      display: inline-block;
      color: $text-color2;
      padding-bottom: 17px;
      height: 34px;
    }

  }

  a:hover {
    color: $text-color1;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }

  .landing-bkg-buttons{
    justify-content: space-between;
  }

  .activeMenuItm {
    color: $text-color1 !important;
    //color: red !important;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    border-bottom-style: solid;
    border-bottom-color: $text-color1;
    border-bottom-width: 2px;
  }

  .landing-bkg--text {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: $max--std--blocks--width;
  }

  .landing-bkg-left {
    display: flex;
    justify-content: flex-end;
  }

  .landing-bkg-right {
    display: flex;
  }

  .landing-features-img {
    width: 25%;
  }

}

