.members {
  background-color: #ffffff;
}

.member--card-outer-div {
  display: inline-block;
  width: 175px;
  margin-right: 26px;
  overflow-x: auto;
  @include transitionAll(0.5s);
  background-color: #2e4a5b;
}

.member--card-outer-div-last{
  display: inline-block;
  width: 175px;
  overflow-x: auto;
  @include transitionAll(0.5s);
  background-color: #2e4a5b;
}

[class^="member--card-outer-div"]:hover {
  background-color: $text_color1;
  span.member--card-name-div--position {
    color: black;
  }

  .img-content button{
    opacity: 1;
    //display: block;
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center;
    //background-color: transparent;
    //border: 0;
    //position:absolute;
    //top:50%;
    //left:50%;
    //width: 40px;
    //height: 40px;
  }

}
.member--card-img {
  display: block;
  padding: 0;
  margin: 0;
  width: 175px;
  height: 152px;
}

.member--card-name-div {
  display: block;
  padding: 0;
  margin: 0;
  height: 51px;
}

.member--card-name-div {
  padding: 10px;
  span {
    display: block;
    text-align: left;
  }
}

.member--card-name-div--name {
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.member--card-name-div--position{
  color:$text_color1;
  font-weight: bold;
  font-size: 12px;
}

[class^="member--card-social"] {
  display: inline-block;
  padding: 7px;
  margin: 0;
  width: 25%;
  height: 43px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 1000;
  border-top: 2px solid #82929d;
}


//[class^="member--card-social"]:hover{
//  background-color: crimson;
//}

.member--card-social-facebook {
  @include transitionAll(0.5s);
  border-right: 1px solid #adb8bf;
}

.member--card-social-facebook:hover {
  background-color: #36609e;
}

.member--card-social-twitter {
  @include transitionAll(0.5s);
  //border-top: 2px solid #82929d;
  border-right: 1px solid #adb8bf;
}

.member--card-social-twitter:hover {
  background-color: #2ca9e1;
}

.member--card-social-skype {
  @include transitionAll(0.5s);
  //border-top: 2px solid #82929d;
  border-right: 1px solid #adb8bf;
}

.member--card-social-skype:hover {
  background-color: #1e99e2;
}

.member--card-social-vimeo {
  @include transitionAll(0.5s);
  //border-top: 2px solid #82929d;
}

.member--card-social-vimeo:hover {
  background-color: #00adef;
}

.img-content{
  position:relative;
}

.img-content button{
  //display: none;
  opacity: 0;
  @include transitionAll(0.5s);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: 0;
  position:absolute;
  top:50%;
  left:50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%,-50%);
}


