.news {
  .green-btn {
    border: 0;
  }
}

.news--cards {
  margin-top: 30px;
}

.news-div {
  display: inline-block;
  //.news-date {
  //  background-color: $text_color2;
  //}

  @include transitionAll(0.5s)
}

.news-div:hover {
  display: inline-block;
  .news-date {
    background-color: $text_color1;
  };
    span.news--card-name-div--name {
      color: $text_color1;
    }
}

.news--card-outer-div {
  display: inline-block;
  width: 175px;
  margin-right: 26px;
  background-color: $text-color3;
}

.news--card-outer-div-last {
  display: inline-block;
  width: 175px;
  background-color: $text-color3;
}


//[class^="news--card-outer-div"]:hover {
//  span.news--card-name-div--name {
//    color: $text_color1;
//  }
//}

[class^="news--card-outer-div"]:hover {
  //div.news-date {
  //  background-color: $text_color1;
  //}

}

.news--card-img {
  @include bcg_img_properties();
  //background-image: url("./../../static/images/member2.jpeg");
  display: block;
  padding: 0;
  margin: 0;
  width: 175px;
  height: 152px;
}

.news--card-name-div {
  display: block;
  padding: 0;
  margin: 0;
  height: 51px;
}

.news--card-name-div {
  padding: 10px;
  span {
    display: block;
    text-align: left;
  }
}

.news--card-name-div--name {
  color: black;
  font-weight: bold;
  font-size: 14px;
  @include transitionAll(0.5s);
}

.news-date {
  position: relative;
  top: 50px;
  right: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #203e38;
  z-index: 2000;
  color: white;
  top: -204px;
  left: 125px;
  padding: 3px 10px;
  @include transitionAll(0.5s);
}

.news-details-form {
  background-color: white;
  overflow: auto;
  border: 2px solid $text-color4;
  padding-bottom: 60px;
  margin-bottom: 40px;
  @include transitionAll(0.8s)
  //height: 450px;
  //height: 400px;
}

.news-details--date{
  font-size: 14px;
  font-weight: bold;
  color: $text_color1;
}



