.news {
  .green-btn {
    border: 0;
  }
}

.news--cards {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}

.news-div {
  display: flex;
  width: 50%;
  min-width: 300px;
  @include transitionAll(0.5s)
}

.news-div:hover {
  .news__date {
    background-color: $text_color1;
  }

  span.news--card-name-div--name {
    color: $text_color1;
  }
}

.news--card-outer-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $text-color3;
}

[class^="news--card-outer-div"]:hover {

}

.news--card-img {
  @include bcg_img_properties();
  display: flex;
  padding: 0;
  margin: 0;
  align-self: baseline;
}

.news--card-name-div {

}

.news--card-name-div {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 51px;
  align-items: center;
  span {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.news--card-name-div--name {
  color: black;
  font-weight: bold;
  font-size: 14px;
  @include transitionAll(0.5s);
}

.news__date-wrapper {
  position: relative;
  //right: -150px;
  right: 50px;
  //bottom: 250px;
  width: 0;
  //height: 50px;
  height: 0;
  z-index: 3000;
  color: white;
  @include transitionAll(0.5s);
}

.news__date {
  background-color: #203e38;
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-self: baseline;
  align-content: center;
  align-items: center;
  justify-content: center;
  @include transitionAll(0.5s);
  span {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.news__moreNewsBtn_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.news-details-form {
  background-color: white;
  overflow: auto;
  border: 2px solid $text-color4;
  //margin-top: 70px;
  padding-bottom: 60px;
  //margin-bottom: 40px;
  padding-top: 70px;
  @include transitionAll(0.8s)
}

.news-details--date {
  font-size: 14px;
  font-weight: bold;
  color: $text_color1;
}

.news-details_header__title {
  height: $header--menu--height;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 10000;
  //background-color: rgba(106, 97, 116, 1);
  background-color: $menu_bkg;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.news-details_header__logo {
  padding-left: 5%;
}

.news-details_header__backBtn {
  //padding-right: 5%;
  background-color: #1d8778;
  width: 50px;
  height: 30px;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.news-details_header__logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 60px;
  //background-repeat: no-repeat;
  //background-size: contain;
  //background-position: center;
  //width: 100px;
  //height: 60px;
  //color: $text_color1;
  //font-size: 20px;
  //font-weight: 900;
  //z-index: 110000;
  //cursor: pointer;
  //margin-left: 5%;
}

.news-details--messags-content {
  padding: 20px 0;
}


.news-details--msg-title{
  background-color: #f7f7f7;
  border-top: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  span {
    padding-top: 2px;
    font-size: 12px;
  }
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 5px 10px;
}

.news-details--msg-msg {
  background-color: white;
  border-top: 0;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 10px;
  font-weight: normal;
  text-align: left;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 5px 10px;
}


@media only screen and (min-width: 768px) {
  .news-div {
    width: 25%;
    min-width: 0;
  }

  .news--cards {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .news--cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .news-details--messags-content {
    padding: 20px 10px;
  }

  .news-details--msg-title{
    width: 90%;
  }

  .news-details--msg-msg {
    width: 90%;
  }

}