//.services {
//  width: 100%;
//  text-align: center;
//}

//.services h2 {
//  display: inline-block;
//  color: black;
//}

//.services--tabs {
//  //width: 780px;
//  //margin: auto;
//}

.services--tab {
  display: flex;
  text-align: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.services--tab--title {
  //display: inline-block;
  //width: 130px;
  //width: 16%;
  width: 100%;
  flex: none;
  height: 50px;
  font-size: 14px;
  //margin-top: 30px;
  //margin-bottom: 30px;
  padding: 0 5px;
  position: relative;
  //z-index: 1000;
  background-color: #f8fcfe;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  //margin-left: -1px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.services--tab--title.active {
  background-color: $text_color1;
  color: white;
}

.services--tab--title.active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(24, 207, 171, 0);
  border-top-color: #18cfab;
  border-width: 8px;
  margin-left: -8px;
}

.service--tab--content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.service--tab--content--img {
  width: 190px;
  /* height: 140px; */
  align-self: flex-start;
  padding-right: 20px;
  //@include img-left-float(120px,1em);
  //display: inline-block;
  //width: 120px;
  ////max-width: 200px;
  //float: left;
  //margin-right: 1em;
}

.service--tab--content--description {
  //display: inline-block;
  //text-align: left;
  //width: 100%;
  //margin-left: 5px;
}

@media only screen and (min-width: 768px) {

  .services--tab {
    flex-wrap: nowrap;
    flex: 1;
    margin-bottom: 0;
  }

  .services--tab--title {
    //width: 100%;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
  }

}